/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	color: inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 20px;
	justify-content: center;
	button {
		background-color: white;
	color: #1D6154;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #1D6154;
	padding: 10px 20px;
	}
	button:hover{
		background-color: #1D6154;
	border-radius: 25px;
	color: white;
	}
.btn-filter {
	background-color: white;
	color: #1D6154;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #1D6154;
	padding: 10px 20px;
}
.btn-filter:hover {
	background-color: #1D6154;
	border-radius: 25px;
	color: white;
}
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/*mode edition*/

.admin {
	display: none;
    background-color: black;
    color: white;
    text-align: center;
	padding: 15px;
}


/* modale */

.title-portfolio{
	display: flex;
	justify-content: center;
}

.title-portfolio a{
	padding: 10px;
}

.galleryModal {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-row-gap: 10px;
padding: 10px 10px;
margin: 10px 10px;
align-items: center;
border-bottom: 1px solid #B3B3B3;
button {
	position: relative;
	bottom: 127px;
	right: 32px;
	background-color:black;
	border-radius: 3px;
}
}

.js-modal-close {
	display: flex;
	flex-direction: row-reverse;
}

hr {
	border: 1px solid #B3B3B3;
}

.button2{
	text-align: center;
	background-color:#1D6154;
	color: white;
	border-radius: 25px;
	padding: 15px 30px;
	margin-top: 20px;
	border: none;
	cursor: pointer;	
}

.galleryModal img {
	width: 80%;
}

.modal {
	position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	animation: fadeIn .3s both;
}

.modal1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
    margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 600px;
	padding: 45px;
	background-color: #fff;
	border-radius: 10px;
h2{
color: #000000;
font-family: Work Sans;
font-weight: 400;
font-size: 26px;
}
}

.fa-trash-alt{
	color:white;
	width: 9px;
}

.modal-form{
	display: none;
}
.containerFile{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	border: 1px solid #E8F1F6;
	background-color: #E8F1F6;
	width: 420px;
	height: 169px;
	margin-left: 90px;
}
.fa-image{
	font-size: 78px;
	color: #CBD6DC;
}
.previewImg{
	width: 150px;
	height: 177px;
}
.btnAjout{
	text-align: center;
	background-color:#CBD6DC;
	color: #306685;
	border-radius: 50px;
	font-weight:bold;
	border: 2px solid #CBD6DC;
	padding: 10px 20px;
	width: 33%;
	position: relative;
}
.btnAjout input{
	top: 0;
	left: 0;
	padding: 8px;
	position: absolute;
	opacity: 0;
}
#preview-img-block{
	display: none;
}
#preview-img-block img{
	width: 30%;
	margin-left: 140px;
}
.donnees {
	margin-top: 20px;
}
.donnees button:disabled{
	background-color: #A7A7A7;
	cursor: not-allowed;
}
.btnValid {
	color: white;
	background-color: #A7A7A7;
	width: 237px;
	height: 36px;
	margin-left: 176px;
	margin-top: 33px;
	border-radius: 60px;
	border: 1px solid #A7A7A7;
}
.btn-back{
	color: black;
}
.textCenter{
	text-align: center;
}
form{
	display: flex;
	flex-direction: column;
}

.donnees input, .donnees select{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
}

.modal[aria-hidden="true"] {
	animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
	animation-name: slideToBottom;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes slidesFromTop {
	from { transform: translateY(-50px); }
	to { transform: translateY(0px); }
}

@keyframes slidesToBottom {
	from { transform: translateY(0px); }
	to { transform: translateY(50px); }
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
